<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%if info%}
    {{info}}
    <h1>{{info.title}}</h1>
    {{info.content}}
    <br>
    
    {%endif%}
    {%if info.clave_sesion != ''%}
        Sesión = {{info.clave_sesion}}
        <br>
        <a href="/logout">Logout</a>
    {%else%}
        <a href="/login">Login</a>
    {%endif%}
   
</body>
</html>